.projects {
  padding: 40px;
}

.projects h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

.projects ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Garante que os cards quebrem para a próxima linha */
  justify-content: center; /* Centraliza os cards horizontalmente */
}

.projects li {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  width: calc(33.33% - 40px);
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  box-sizing: border-box;
  display: flex; /* Adiciona Flexbox */
  flex-direction: column; /* Organiza os itens verticalmente */
}

.projects li:hover {
  transform: translateY(-5px);
}

.projects li img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.projects li h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.projects li p {
  font-size: 1em;
  line-height: 1.4;
  color: #555;
  flex: 1; /* Expande a descrição para ocupar o espaço disponível */
}

.projects li a {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.projects li a:hover {
  background-color: #555;
}

.projects li button {
  background-color: #ddd;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.projects li button:hover {
  background-color: #ccc;
}

/* Estilos existentes */

.imageContainer {
  position: relative;
  display: inline-block;
}

.editImageButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.imageContainer:hover .editImageButton {
  opacity: 1;
}

.buttonsContainer {
  display: flex;
  justify-content: space-around; /* Alinha os botões horizontalmente */
  align-items: flex-end; /* Alinha os botões na parte inferior */
  margin-top: 15px; /* Adiciona um espaço acima dos botões */
}