body {
  font-family: 'Open Sans', sans-serif; /* Fonte para o corpo do texto */
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Cor de fundo da página */
  color: #333; /* Cor do texto padrão */
}

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif; /* Fonte para os títulos */
  font-weight: bold;
  
}

a {
  color: #61dafb; /* Cor dos links */
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #282c34; /* Cor dos links ao passar o mouse */
}


.appContainer {
  text-align: center;
}

.addProjectButton {
  background-color: #4CAF50; /* Cor de fundo verde */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.addProjectButton:hover {
  background-color: #3e8e41; /* Cor de fundo verde mais escura */
}